.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(66, 70, 74, 0.8);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    position: relative; /* Required for dropdown positioning */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(35, 37, 39);
    list-style: none;
    padding: 0;
    min-width: 150px;
}

.dropdown-menu li a {
    color: white;
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}